## データの読み込み

In [25]:
# ライブラリのインポート
import pandas as pd
import numpy as np

In [26]:
# 今回のデータの読み込み
survey_result = pd.read_csv("../data/Yohana_rawdata_202303.csv", encoding="cp932", header=1)

In [27]:
# 前回のデータの読み込み
last_survey_result = pd.read_csv("../data/Yohana_rawdata_202302.csv", encoding="cp932", header=1)

## 前処理

In [28]:
q1 =  survey_result['Q1']
q4 =  survey_result['Q4']
q8_non =  survey_result['Q8']

In [29]:
# 欠損を0で埋める　今回のデータ
survey_result = survey_result.fillna(0)
survey_result[['male','female']] = pd.get_dummies(survey_result['SEX'])
survey_result

,USER_ID,SC1,SC2,SC3,SC4,SC5,Q1,Q2-1,Q2-2,Q2-3,...,Q13-10,Q13-11,Q13-12,Q13-13,SEG,SEX,AGE,CHIIKI,male,female
0,1,2,4,1,10,3,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,50,14,1,0
1,2,2,4,1,8,2,5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,42,13,1,0
2,3,2,4,1,8,5,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,51,14,1,0
3,4,2,4,1,9,4,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,42,14,1,0
4,5,2,3,1,8,1,5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,43,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,2,5,1,8,1,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,47,13,0,1
296,297,2,3,1,9,1,5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,40,13,1,0
297,298,2,4,1,6,5,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,2,39,14,0,1
298,299,2,2,1,9,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,33,13,0,1
299,300,2,2,1,9,2,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,39,13,1,0

In [30]:
# カラムの確認　今回のデータ
survey_result.columns

Index(['USER_ID', 'SC1', 'SC2', 'SC3', 'SC4', 'SC5', 'Q1', 'Q2-1', 'Q2-2',
       'Q2-3',
       ...
       'Q13-10', 'Q13-11', 'Q13-12', 'Q13-13', 'SEG', 'SEX', 'AGE', 'CHIIKI',
       'male', 'female'],
      dtype='object', length=127)

In [31]:
# 欠損を0で埋める　前回のデータ
last_survey_result = last_survey_result.fillna(0)
last_survey_result[['male','female']] = pd.get_dummies(last_survey_result['SEX'])
last_survey_result

,USER_ID,SC1,SC2,SC3,SC4,SC5,Q1,Q2-1,Q2-2,Q2-3,...,Q13-7,Q13-8,Q14,Q15,SEG,SEX,AGE,CHIIKI,male,female
0,1,2,4,1,8,1,5,0.0,0.0,0.0,...,0.0,0.0,5,8,1,1,45,13,1,0
1,2,2,4,1,8,1,7,0.0,0.0,0.0,...,0.0,0.0,3,8,1,1,52,13,1,0
2,3,2,5,1,9,1,7,0.0,0.0,0.0,...,0.0,0.0,3,8,1,1,47,13,1,0
3,4,2,3,1,8,1,6,0.0,0.0,0.0,...,1.0,0.0,11,11,1,1,40,13,1,0
4,5,2,4,1,8,1,5,0.0,0.0,0.0,...,0.0,0.0,10,58,2,2,46,13,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,2,3,1,8,1,7,0.0,0.0,0.0,...,0.0,0.0,4,8,1,1,41,13,1,0
296,297,2,2,1,7,5,6,0.0,0.0,0.0,...,0.0,0.0,11,9,4,2,28,14,0,1
297,298,2,3,1,8,5,7,0.0,0.0,0.0,...,0.0,0.0,10,46,3,1,39,14,1,0
298,299,2,4,1,7,5,7,0.0,0.0,0.0,...,0.0,0.0,10,46,3,1,40,14,1,0
299,300,2,3,1,8,2,6,0.0,0.0,0.0,...,0.0,0.0,9,11,2,2,37,13,0,1

In [32]:
# カラムの確認　前回のデータ
last_survey_result.columns

Index(['USER_ID', 'SC1', 'SC2', 'SC3', 'SC4', 'SC5', 'Q1', 'Q2-1', 'Q2-2',
       'Q2-3',
       ...
       'Q13-7', 'Q13-8', 'Q14', 'Q15', 'SEG', 'SEX', 'AGE', 'CHIIKI', 'male',
       'female'],
      dtype='object', length=122)

## 【分析】認知度_前回比較

In [33]:
# q4（認知度）前回比較
import collections

q4_list = []
last_q4_list = []

q4_c = collections.Counter(survey_result['Q4'])
last_q4_c = collections.Counter(last_survey_result['Q4'])

for i in range(4):
    q4_list.append(q4_c[i+1])
    last_q4_list.append(last_q4_c[i+1])

# 表作成
df_q4 = pd.DataFrame(
    data = zip(last_q4_list, q4_list),
    columns=["前回", "今回"],
    index = ['詳しく', '少し', '名前だけ', '知らない']
)
print("表１：認知度比較（前回と今回）")
df_q4.style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

表１：認知度比較（前回と今回）

In [34]:
# 地域別q4（認知度）前回
# sc5とq4
last_map_q4_list = [[0 for i in range(4)] for j in range(5)]

for i in range(5):
    for j in range(4):
        last_map_q4_list[i][j] = sum((last_survey_result['Q4'] == j+1) & (last_survey_result['SC5'] == i+1))

# 表作成
df_last_map_q4 = pd.DataFrame(
    data = (last_map_q4_list[0], last_map_q4_list[1], last_map_q4_list[2], last_map_q4_list[3], last_map_q4_list[4]),
    columns = ['詳しく', '少し', '名前だけ', '知らない'],
    index = ['東京23区内', '東京23区外', '横浜', '川崎', '神奈川その他']
)
print("表2：認知度地域別比較（前回）")
df_last_map_q4.style.background_gradient(cmap='Reds', low=0.5, high=2, axis =0)

表2：認知度地域別比較（前回）

In [35]:
# 地域別q4（認知度）今回
# sc5とq4
map_q4_list = [[0 for i in range(4)] for j in range(5)]

for i in range(5):
    for j in range(4):
        map_q4_list[i][j] = sum((survey_result['Q4'] == j+1) & (survey_result['SC5'] == i+1))

# 表作成
df_map_q4 = pd.DataFrame(
    data = (map_q4_list[0], map_q4_list[1], map_q4_list[2], map_q4_list[3], map_q4_list[4]),
    columns = ['詳しく', '少し', '名前だけ', '知らない'],
    index = ['東京23区内', '東京23区外', '横浜', '川崎', '神奈川その他']
)
print("表2：認知度地域別比較（今回）")
df_map_q4.style.background_gradient(cmap='Reds', low=0.5, high=2, axis =0)

表2：認知度地域別比較（今回）

In [36]:
# 割合　地域別q4（認知度）前回
# sc5とq4
last_map_q4_list = [[0 for i in range(4)] for j in range(5)]

for i in range(5):
    for j in range(4):
        last_map_q4_list[i][j] = (sum((last_survey_result['Q4'] == j+1) & (last_survey_result['SC5'] == i+1)))/2

# 表作成
df_last_map_q4 = pd.DataFrame(
    data = (last_map_q4_list[0], last_map_q4_list[1], last_map_q4_list[2], last_map_q4_list[3], last_map_q4_list[4]),
    columns = ['詳しく', '少し', '名前だけ', '知らない'],
    index = ['東京23区内', '東京23区外', '横浜', '川崎', '神奈川その他']
)
print("表2：認知度地域別比較（前回）")
print('{:.3f}'.format(df_last_map_q4.style.background_gradient(cmap='Reds', low=0.5, high=2, axis =0)))
# df_last_map_q4.style.background_gradient(cmap='Reds', low=0.5, high=2, axis =0)
# スライドには小数点3桁まで

表2：認知度地域別比較（前回）

TypeError: unsupported format string passed to Styler.__format__

In [37]:
# 割合　地域別q4（認知度）今回
# 地域別今回の数カウント　
# sc5とq4
map_q4_list = [[0 for i in range(4)] for j in range(5)]

for i in range(5):
    for j in range(4):
        map_q4_list[i][j] = sum((survey_result['Q4'] == j+1) & (survey_result['SC5'] == i+1))/2

# 表作成
df_map_q4 = pd.DataFrame(
    data = (map_q4_list[0], map_q4_list[1], map_q4_list[2], map_q4_list[3], map_q4_list[4]),
    columns = ['詳しく', '少し', '名前だけ', '知らない'],
    index = ['東京23区内', '東京23区外', '横浜', '川崎', '神奈川その他']
)
print("表2：認知度地域別（今回）")
print('{:.3f}'.format(df_map_q4.style.background_gradient(cmap='Reds', low=.5, high=10, axis =0)))
# df_map_q4.style.background_gradient(cmap='Reds', low=.5, high=10, axis =0)

表2：認知度地域別（今回）

TypeError: unsupported format string passed to Styler.__format__

## 【分析】家事代行利用頻度(Q1)とYohana認知度(Q4)

Q1とQ4のクロス表

In [38]:
q1_q4_list = [[0 for i in range(4)] for j in range(7)]

for i in range(7):
    for j in range(4):
        q1_q4_list[i][j] = sum((survey_result['Q4'] == j+1) & (survey_result['Q1'] == i+1))

# 表作成
df_q1_q4 = pd.DataFrame(
    data = (q1_q4_list[0], q1_q4_list[1], q1_q4_list[2], q1_q4_list[3], q1_q4_list[4], q1_q4_list[5], q1_q4_list[6]),
    columns = ['詳しく', '少し', '名前だけ', '知らない'],
    index = ['月1回以上', '2~3ヶ月に1回', '４~６ヶ月に1回', '７~１２ヶ月に1回', '年１未満', '利用✖️興味○', '利用✖️興味✖️']
)  
    
print("表5：Q1とQ4のクロス表")

df_q1_q4.style.background_gradient(cmap='Reds', low=.5, high=2, axis =0)

表5：Q1とQ4のクロス表

q1とq4の相関(スピアマンの順位相関係数算出)

In [39]:
from scipy.stats import spearmanr

In [40]:
#　q1とq4の相関
correlation1_4, pvalue1_4 = spearmanr(q1, q4)
print(correlation1_4) 

# スライドには小数点3桁まで
print('{:.3f}'.format(correlation1_4))

0.28229470108699795
0.282

In [ ]:
###############################################################################

# q1とq4の相関　

###############################################################################

## 【分析】家事代行利用頻度(Q1)とYohana利用意向(Q8)

Q1とQ8のクロス表

In [41]:
q1_q8_list = [[0 for i in range(5)] for j in range(7)]

for i in range(7):
    for j in range(5):
        q1_q8_list[i][j] = sum((survey_result['Q8'] == j+1) & (survey_result['Q1'] == i+1))

# 表作成
df_q1_q8 = pd.DataFrame(
    data = (q1_q8_list[0], q1_q8_list[1], q1_q8_list[2], q1_q8_list[3], q1_q8_list[4], q1_q8_list[5], q1_q8_list[6]),
    columns = ['とても', 'やや', 'どちらとも', 'あまり', '知らない'],
    index = ['月1回以上', '2~3ヶ月に1回', '４~６ヶ月に1回', '７~１２ヶ月に1回', '年１未満', '利用✖️興味○', '利用✖️興味✖️']
)  
    
print("表6：Q1とQ8のクロス表")
df_q1_q8.style.background_gradient(cmap='Reds', low=.5, high=2, axis =0)

表6：Q1とQ8のクロス表

q1とq8の相関(スピアマンの順位相関係数算出)

In [42]:
#q8の欠損値を抜く
q8 = q8_non.dropna()

#q8の欠損値なしのインデックスのq1のデータを取得
q1_q8 = q1[q8.index]

In [43]:
#　q1とq8の相関
# 数を揃えてから(q1_q8, q8)

correlation1_8, pvalue1_8 = spearmanr(q1_q8, q8)
print(correlation1_8)

# スライドには小数点3桁まで
print('{:.3f}'.format(correlation1_8))

0.008250776637680141
0.008

In [ ]:
###############################################################################

# q1とq8の相関　

###############################################################################

## 【分析】家事代行サービス利用者と全体比較

利用者(Q1=1〜4→Q3,4答えている人)

In [44]:
# Q1=1〜4だけ
user = survey_result[(survey_result['Q1'] == 1) | (survey_result['Q1'] == 2) | (survey_result['Q1'] == 3) | (survey_result['Q1'] == 4)]
len(user)

59

In [45]:
user

,USER_ID,SC1,SC2,SC3,SC4,SC5,Q1,Q2-1,Q2-2,Q2-3,...,Q13-10,Q13-11,Q13-12,Q13-13,SEG,SEX,AGE,CHIIKI,male,female
7,8,2,2,1,12,1,1,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,35,13,1,0
12,13,2,5,1,8,2,1,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1,1,60,13,1,0
25,26,2,2,1,8,1,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,51,13,1,0
28,29,2,5,1,10,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,57,13,1,0
35,36,2,5,1,9,3,2,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,3,1,49,14,1,0
36,37,2,4,1,8,4,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,2,44,14,0,1
50,51,2,3,1,9,1,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
51,52,2,5,1,9,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,55,13,1,0
58,59,2,3,1,7,3,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,62,14,1,0
61,62,2,2,1,7,3,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,42,14,1,0
66,67,2,3,1,8,1,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,33,13,0,1
71,72,2,3,1,7,4,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,41,14,1,0
72,73,2,3,1,8,3,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,73,14,1,0
77,78,2,5,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,52,13,0,1
78,79,2,2,1,10,1,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,30,13,0,1
103,104,2,4,1,7,3,4,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,44,14,1,0
116,117,2,3,1,9,2,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,35,13,1,0
119,120,2,3,1,9,1,1,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1,1,51,13,1,0
120,121,2,4,1,12,1,3,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,45,13,1,0
130,131,2,3,1,12,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,34,13,0,1
134,135,2,4,1,8,1,1,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1,1,41,13,1,0
136,137,2,4,1,8,1,1,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1,1,40,13,1,0
137,138,2,4,1,8,1,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,48,13,0,1
139,140,2,2,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,38,13,1,0
144,145,2,4,1,11,1,3,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
148,149,2,4,1,8,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,43,13,1,0
152,153,2,3,1,8,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,42,13,0,1
154,155,2,2,1,8,1,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
160,161,2,2,1,9,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,30,13,0,1
163,164,2,2,1,9,1,2,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2,2,35,13,0,1
169,170,2,2,1,9,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,32,13,0,1
170,171,2,3,1,10,1,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2,2,45,13,0,1
176,177,2,2,1,12,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,33,13,0,1
181,182,2,2,1,8,1,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,32,13,0,1
183,184,2,3,1,11,1,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,44,13,0,1
194,195,2,4,1,8,1,2,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1,1,55,13,1,0
201,202,2,3,1,10,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,35,13,1,0
204,205,2,4,1,10,1,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,52,13,0,1
207,208,2,3,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,36,13,1,0
208,209,2,4,1,8,4,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,2,41,14,0,1
211,212,2,3,1,10,1,4,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,42,13,1,0
212,213,2,5,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,42,13,1,0
227,228,2,4,1,9,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,48,13,0,1
228,229,2,3,1,8,1,3,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1,1,42,13,1,0
239,240,2,2,1,8,1,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,42,13,1,0
246,247,2,3,1,8,1,3,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,2,2,37,13,0,1
255,256,2,5,1,12,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,55,13,1,0
257,258,2,3,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,48,13,0,1
260,261,2,3,1,12,1,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
266,267,2,2,1,8,1,4,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,2,2,38,13,0,1
271,272,2,3,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
273,274,2,3,1,7,3,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,34,14,1,0
280,281,2,4,1,9,1,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,46,13,0,1
284,285,2,3,1,8,5,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,2,37,14,0,1
288,289,2,2,1,9,1,1,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,2,2,37,13,0,1
289,290,2,3,1,9,2,1,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,2,2,32,13,0,1
293,294,2,2,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,40,13,1,0
298,299,2,2,1,9,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,33,13,0,1
299,300,2,2,1,9,2,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,39,13,1,0

In [46]:
for i in range(1, 13):
    print(f'Q2-{i}',collections.Counter(user[f'Q2-{i}']))

Q2-1 Counter({0.0: 50, 1.0: 9})
Q2-2 Counter({0.0: 54, 1.0: 5})
Q2-3 Counter({0.0: 52, 1.0: 7})
Q2-4 Counter({0.0: 59})
Q2-5 Counter({0.0: 46, 1.0: 13})
Q2-6 Counter({0.0: 58, 1.0: 1})
Q2-7 Counter({0.0: 54, 1.0: 5})
Q2-8 Counter({0.0: 47, 1.0: 12})
Q2-9 Counter({0.0: 58, 1.0: 1})
Q2-10 Counter({0.0: 52, 1.0: 7})
Q2-11 Counter({0.0: 51, 1.0: 8})
Q2-12 Counter({0.0: 49, 1.0: 10})

In [51]:
for i in range(1, 19):
    print(f'Q3-{i}',collections.Counter(user[f'Q3-{i}']))

Q3-1 Counter({0.0: 57, 1.0: 2})
Q3-2 Counter({0.0: 53, 1.0: 6})
Q3-3 Counter({0.0: 41, 1.0: 18})
Q3-4 Counter({0.0: 57, 1.0: 2})
Q3-5 Counter({0.0: 57, 1.0: 2})
Q3-6 Counter({0.0: 57, 1.0: 2})
Q3-7 Counter({0.0: 56, 1.0: 3})
Q3-8 Counter({0.0: 55, 1.0: 4})
Q3-9 Counter({0.0: 54, 1.0: 5})
Q3-10 Counter({0.0: 57, 1.0: 2})
Q3-11 Counter({0.0: 51, 1.0: 8})
Q3-12 Counter({0.0: 56, 1.0: 3})
Q3-13 Counter({0.0: 59})
Q3-14 Counter({0.0: 58, 1.0: 1})
Q3-15 Counter({0.0: 56, 1.0: 3})
Q3-16 Counter({0.0: 59})
Q3-17 Counter({0.0: 48, 1.0: 11})
Q3-18 Counter({0.0: 48, 1.0: 11})

In [52]:
for i in range(1, 19):
    print(f'Q5-{i}',collections.Counter(user[f'Q5-{i}']))

Q5-1 Counter({0.0: 59})
Q5-2 Counter({0.0: 57, 1.0: 2})
Q5-3 Counter({0.0: 55, 1.0: 4})
Q5-4 Counter({0.0: 55, 1.0: 4})
Q5-5 Counter({0.0: 59})
Q5-6 Counter({0.0: 56, 1.0: 3})
Q5-7 Counter({0.0: 58, 1.0: 1})
Q5-8 Counter({0.0: 59})
Q5-9 Counter({0.0: 56, 1.0: 3})
Q5-10 Counter({0.0: 59})
Q5-11 Counter({0.0: 56, 1.0: 3})
Q5-12 Counter({0.0: 59})
Q5-13 Counter({0.0: 59})
Q5-14 Counter({0.0: 59})
Q5-15 Counter({0.0: 59})
Q5-16 Counter({0.0: 58, 1.0: 1})
Q5-17 Counter({0.0: 59})
Q5-18 Counter({0.0: 57, 1.0: 2})

In [53]:
for i in range(1, 15):
    print(f'Q6-{i}',collections.Counter(user[f'Q6-{i}']))

Q6-1 Counter({0.0: 56, 1.0: 3})
Q6-2 Counter({0.0: 56, 1.0: 3})
Q6-3 Counter({0.0: 58, 1.0: 1})
Q6-4 Counter({0.0: 57, 1.0: 2})
Q6-5 Counter({0.0: 59})
Q6-6 Counter({0.0: 56, 1.0: 3})
Q6-7 Counter({0.0: 55, 1.0: 4})
Q6-8 Counter({0.0: 56, 1.0: 3})
Q6-9 Counter({0.0: 54, 1.0: 5})
Q6-10 Counter({0.0: 55, 1.0: 4})
Q6-11 Counter({0.0: 59})
Q6-12 Counter({0.0: 54, 1.0: 5})
Q6-13 Counter({0.0: 57, 1.0: 2})
Q6-14 Counter({0.0: 59})

In [54]:
for i in range(1, 8):
    print(f'Q7-{i}',collections.Counter(user[f'Q7-{i}']))

Q7-1 Counter({0.0: 55, 1.0: 4})
Q7-2 Counter({0.0: 53, 1.0: 6})
Q7-3 Counter({0.0: 55, 1.0: 4})
Q7-4 Counter({0.0: 58, 1.0: 1})
Q7-5 Counter({0.0: 55, 1.0: 4})
Q7-6 Counter({0.0: 59})
Q7-7 Counter({0.0: 55, 1.0: 4})

In [55]:
print(collections.Counter(user['Q9']))

Counter({2.0: 17, 0.0: 16, 3.0: 10, 4.0: 9, 5.0: 5, 1.0: 2})

In [56]:
for i in range(1, 10):
    print(f'Q10-{i}',collections.Counter(user[f'Q10-{i}']))

Q10-1 Counter({0.0: 54, 1.0: 5})
Q10-2 Counter({0.0: 51, 1.0: 8})
Q10-3 Counter({0.0: 54, 1.0: 5})
Q10-4 Counter({0.0: 54, 1.0: 5})
Q10-5 Counter({0.0: 51, 1.0: 8})
Q10-6 Counter({0.0: 53, 1.0: 6})
Q10-7 Counter({0.0: 52, 1.0: 7})
Q10-8 Counter({0.0: 53, 1.0: 6})
Q10-9 Counter({0.0: 59})

In [57]:
for i in range(1, 10):
    print(f'Q11-{i}',collections.Counter(user[f'Q11-{i}']))

Q11-1 Counter({0.0: 53, 1.0: 6})
Q11-2 Counter({0.0: 51, 1.0: 8})
Q11-3 Counter({0.0: 50, 1.0: 9})
Q11-4 Counter({0.0: 49, 1.0: 10})
Q11-5 Counter({0.0: 55, 1.0: 4})
Q11-6 Counter({0.0: 54, 1.0: 5})
Q11-7 Counter({0.0: 52, 1.0: 7})
Q11-8 Counter({0.0: 59})
Q11-9 Counter({0.0: 59})

In [58]:
for i in range(1, 10):
    print(f'Q12-{i}',collections.Counter(user[f'Q12-{i}']))

Q12-1 Counter({0.0: 53, 1.0: 6})
Q12-2 Counter({0.0: 49, 1.0: 10})
Q12-3 Counter({0.0: 47, 1.0: 12})
Q12-4 Counter({0.0: 51, 1.0: 8})
Q12-5 Counter({0.0: 47, 1.0: 12})
Q12-6 Counter({0.0: 50, 1.0: 9})
Q12-7 Counter({0.0: 48, 1.0: 11})
Q12-8 Counter({0.0: 53, 1.0: 6})
Q12-9 Counter({0.0: 59})

In [59]:
for i in range(1, 14):
    print(f'Q13-{i}',collections.Counter(user[f'Q13-{i}']))

Q13-1 Counter({0.0: 53, 1.0: 6})
Q13-2 Counter({0.0: 45, 1.0: 14})
Q13-3 Counter({0.0: 54, 1.0: 5})
Q13-4 Counter({0.0: 53, 1.0: 6})
Q13-5 Counter({0.0: 54, 1.0: 5})
Q13-6 Counter({0.0: 52, 1.0: 7})
Q13-7 Counter({0.0: 55, 1.0: 4})
Q13-8 Counter({0.0: 50, 1.0: 9})
Q13-9 Counter({0.0: 55, 1.0: 4})
Q13-10 Counter({0.0: 54, 1.0: 5})
Q13-11 Counter({0.0: 58, 1.0: 1})
Q13-12 Counter({0.0: 58, 1.0: 1})
Q13-13 Counter({0.0: 59})

##テスト　3月のみ　4月からは変更予定

In [47]:
#SC2 user
sc2_user_list = []
sc2_user= collections.Counter(user['SC2'])
for i in range(5):
    sc2_user_list.append((sc2_user[i+1])/len(user)*100)

#SC2 all
sc2_all_list = []
sc2_all= collections.Counter(survey_result['SC2'])
for i in range(5):
    sc2_all_list.append((sc2_all[i+1])/len(survey_result)*100)
    
# 表作成
df_sc2_user = pd.DataFrame(
    data = zip(sc2_all_list[1:], sc2_user_list[1:]),
    columns=["全体", "利用者"],
    index = ["乳児","未就学","小学生","中学生"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者の就学状況比較（割合）")
df_sc2_user.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者の就学状況比較（割合）

In [48]:
#SC4 user 8~12
sc4_user_list = []
sc4_user= collections.Counter(user['SC4'])
for i in range(5):
    sc4_user_list.append((sc4_user[i+8])/len(user)*100)

#SC4 all
sc4_all_list = []
sc4_all= collections.Counter(survey_result['SC4'])
for i in range(5):
    sc4_all_list.append((sc4_all[i+8])/len(survey_result)*100)
    
# 表作成
df_sc4_user = pd.DataFrame(
    data = zip(sc4_all_list, sc4_user_list),
    columns=["全体", "利用者"],
    index = ["1000万~","1500万~","2000万~","2500万~","3000万以上"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者の世帯年収比較（割合）")
df_sc4_user.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者の世帯年収比較（割合）

In [52]:
#SC4 user 8~12
sc4_user_list = []
sc4_user= collections.Counter(user['SC4'])
for i in range(7):
    sc4_user_list.append(sc4_user[i+6])

#SC4 all
sc4_all_list = []
sc4_all= collections.Counter(survey_result['SC4'])
for i in range(7):
    sc4_all_list.append(sc4_all[i+6])
    
# 表作成
df_sc4_user = pd.DataFrame(
    data = zip(sc4_all_list, sc4_user_list),
    columns=["全体", "利用者"],
    index = ["800万~","900万~","1000万~","1500万~","2000万~","2500万~","3000万以上"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者の世帯年収比較（割合）")
df_sc4_user.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者の世帯年収比較（割合）

In [53]:
#SC4 user 8~12
sc4_user_list = []
sc4_user= collections.Counter(user['SC4'])
for i in range(7):
    sc4_user_list.append((sc4_user[i+6])/len(user)*100)

#SC4 all
sc4_all_list = []
sc4_all= collections.Counter(survey_result['SC4'])
for i in range(7):
    sc4_all_list.append((sc4_all[i+6])/len(survey_result)*100)
    
# 表作成
df_sc4_user = pd.DataFrame(
    data = zip(sc4_all_list, sc4_user_list),
    columns=["全体", "利用者"],
    index = ["800万~","900万~","1000万~","1500万~","2000万~","2500万~","3000万以上"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者の世帯年収比較（割合）")
df_sc4_user.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者の世帯年収比較（割合）

In [49]:
#SC5 user 1~5
sc5_user_list = []
sc5_user= collections.Counter(user['SC5'])
for i in range(5):
    sc5_user_list.append((sc5_user[i+1])/len(user)*100)

#SC5 all
sc5_all_list = []
sc5_all= collections.Counter(survey_result['SC5'])
for i in range(5):
    sc5_all_list.append((sc5_all[i+1])/len(survey_result)*100)
    
# 表作成
df_sc5_user = pd.DataFrame(
    data = zip(sc5_all_list, sc5_user_list),
    columns=["全体", "利用者"],
    index = ["1:東京23内","2:東京23外","3:横浜","4:川崎","5:神奈その他"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者の地域比較（割合）")
df_sc5_user.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者の地域比較（割合）

In [50]:
#q5 user 1~4
q5_user_list = []
q5_user= collections.Counter(user['Q4'])
for i in range(4):
    q5_user_list.append((q５_user[i+1])/len(user)*100)

#q5 all
q5_all_list = []
q5_all= collections.Counter(survey_result['Q4'])
for i in range(4):
    q5_all_list.append((q5_all[i+1])/len(survey_result)*100)
    
# 表作成
df_q5_user = pd.DataFrame(
    data = zip(q5_all_list, q5_user_list),
    columns=["全体", "利用者"],
    index = ["1:詳しく","2:少し","3:名前だけ","4:知らない"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者の認知度比較（割合）")
df_q５_user.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者の認知度比較（割合）

## 【分析】認知はしていないが興味がある人

q10_Groupby1　認知✖️興味○と{忙しさ、家事代行利用頻度、歳、性別}

In [64]:
# q10の回答結果でGroupby
# q10は認知していない人のみ

print(q10_con, q10_details)
print("(Q10の0はyohana認知している人)")

q10_Groupby1 = survey_result[['Q10','Q1','Q2','AGE','male','female']].groupby('Q10').agg({'Q1': np.mean, 'Q2': np.mean, 'AGE': np.mean, 'male': sum, 'female': sum})

def set_min_max(style):
    return style.background_gradient(cmap='Reds')

def set_format(style):
    return style.format({'Q1': "{:.3f}", 'Q2': "{:.3f}", 'AGE': "{:.3f}", 'male': "{:.0f}", 'female': "{:.0f}"})

q10_Groupby1.style.pipe(set_min_max).pipe(set_format)

Q10.興味（+URL） 1:とても,2:やや,3:どちらとも,4:あまり,5:全く
(Q10の0はyohana認知している人)

In [65]:
print(q1_con, q1_details)
print(q2_con, q2_details)

Q1.忙しさ 1:とても,2:やや,3:どちらとも,4:あまり,5:全く
Q2.家事代行利用度 1:月1回以上,2:2~3ヶ月に1回,3:４~６ヶ月に1回,4:７~１２ヶ月に1回,5:年１未満,6:利用✖️興味○,7:利用✖️興味✖️

In [ ]:
###############################################################################

# 興味がある人ほど忙しいという感覚を持っている人が多い
# 興味がある人ほど家事代行サービスの利用頻度が多い
# 女性の方がYohanaに興味を持つ傾向がある
# とても興味がある人の年齢は、39歳と他と比べて少し若い

###############################################################################

q10_Groupby2　認知✖️興味○と興味理由

In [66]:
# q10の回答結果でGroupby
# q１０＋q11はyohana認知していない+興味ある人のみ
print(q10_con, q10_details)

q10_Groupby2 = survey_result[['Q10','Q11-1','Q11-2','Q11-3','Q11-4','Q11-5','Q11-6','Q11-7','Q11-8','Q11-9']].groupby('Q10').agg({'Q11-1': sum, 'Q11-2': sum, 'Q11-3': sum, 'Q11-4': sum, 'Q11-5': sum, 'Q11-6': sum, 'Q11-7': sum, 'Q11-8': sum, 'Q11-9': sum})

def set_min_max(style):
    return style.background_gradient(cmap='Reds', axis =1)

def set_format(style):
    return style.format({'Q11-1': "{:.0f}", 'Q11-2': "{:.0f}", 'Q11-3': "{:.0f}", 'Q11-4': "{:.0f}", 'Q11-5': "{:.0f}", 'Q11-6': "{:.0f}", 'Q11-7': "{:.0f}", 'Q11-8': "{:.0f}", 'Q11-9': "{:.0f}"})

#q10=0,3,4,5の値が全て０だからいらない
q10_Groupby2[1:2].style.pipe(set_min_max).pipe(set_format)

Q10.興味（+URL） 1:とても,2:やや,3:どちらとも,4:あまり,5:全く

In [67]:
print(q11_con, q11_details)

Q11.興味理由 1:新しい,2:家事負担減りそう,3:育児負担減りそう,4:困りごと解決しそう,5:専門チームのサポート,6:自分時間増えそう,7:家族時間増えそう,8:アプリ簡単そう,9:その他

q10_Groupby３　認知✖️興味○と依頼したいサービス

In [68]:
# q10の回答結果でGroupby
# q10+q15は　yohana認知していないが利用したい＋興味ある人のみ
print(q10_con, q10_details)

q10_Groupby2 = survey_result[['Q10','Q15-1','Q15-2','Q15-3','Q15-4','Q15-5','Q15-6','Q15-7','Q15-8']].groupby('Q10').agg({'Q15-1': sum, 'Q15-2': sum, 'Q15-3': sum, 'Q15-4': sum, 'Q15-5': sum, 'Q15-6': sum, 'Q15-7': sum, 'Q15-8': sum})

def set_min_max(style):
    return style.background_gradient(cmap='Reds', axis =1)

def set_format(style):
    return style.format({'Q15-1': "{:.0f}", 'Q15-2': "{:.0f}", 'Q15-3': "{:.0f}", 'Q15-4': "{:.0f}", 'Q15-5': "{:.0f}", 'Q15-6': "{:.0f}", 'Q15-7': "{:.0f}", 'Q15-8': "{:.0f}"})

#q10=3,4,5の値が全て０だからいらない
q10_Groupby2[:2].style.pipe(set_min_max).pipe(set_format)

Q10.興味（+URL） 1:とても,2:やや,3:どちらとも,4:あまり,5:全く

In [73]:
print(q15_con, q15_details)

Q15.利用している代行サービス 1.「食」周り 例：1週間の食事の献立,2.教育 例：習い事の調査,3.イベントや買い物 例：お出かけ先提案,4.特別なイベント 例：誕生会の企画,5.新生活の準備 例：転勤・引っ越しの手配,6.ちょっとした調べもの 例：写真のアルバム印刷,7.定期的なメンテナンス 例：エアコンクリーニング業者の比較と手配,8.この中にはない

In [ ]:
# q10の質問内容を表に挿入
# 質問内容を表示
# AGEの小数点表示
# 特徴ハイライトor色つける

## 【分析】認知している人の分析

認知している人（Q5 1~3）

In [60]:
# Q5=1〜3だけのindexから各質問の答え
recognition  = survey_result[(survey_result['Q4'] == 1) | (survey_result['Q4'] == 2) | (survey_result['Q4'] == 3)]
recognition

,USER_ID,SC1,SC2,SC3,SC4,SC5,Q1,Q2-1,Q2-2,Q2-3,...,Q13-10,Q13-11,Q13-12,Q13-13,SEG,SEX,AGE,CHIIKI,male,female
14,15,2,2,1,8,3,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,37,14,1,0
25,26,2,2,1,8,1,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,51,13,1,0
35,36,2,5,1,9,3,2,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,3,1,49,14,1,0
36,37,2,4,1,8,4,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,2,44,14,0,1
48,49,2,5,1,7,5,6,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,3,1,58,14,1,0
50,51,2,3,1,9,1,2,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
57,58,2,4,1,8,1,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,45,13,1,0
65,66,2,5,1,6,3,5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,59,14,1,0
87,88,2,4,1,8,1,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,42,13,0,1
88,89,2,4,1,12,1,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,49,13,1,0
93,94,2,3,1,7,5,6,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,3,1,39,14,1,0
103,104,2,4,1,7,3,4,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,44,14,1,0
119,120,2,3,1,9,1,1,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1,1,51,13,1,0
120,121,2,4,1,12,1,3,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,45,13,1,0
148,149,2,4,1,8,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,43,13,1,0
159,160,2,2,1,6,4,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,29,14,1,0
160,161,2,2,1,9,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,30,13,0,1
161,162,2,2,1,9,1,6,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,2,2,30,13,0,1
169,170,2,2,1,9,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,32,13,0,1
170,171,2,3,1,10,1,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2,2,45,13,0,1
201,202,2,3,1,10,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,35,13,1,0
213,214,2,3,1,7,3,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3,1,35,14,1,0
226,227,2,4,1,8,1,5,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1,1,44,13,1,0
228,229,2,3,1,8,1,3,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1,1,42,13,1,0
239,240,2,2,1,8,1,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,42,13,1,0
243,244,2,5,1,10,2,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,48,13,0,1
256,257,2,4,1,8,3,6,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,3,1,45,14,1,0
260,261,2,3,1,12,1,3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
264,265,2,2,1,8,5,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,2,29,14,0,1
271,272,2,3,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,43,13,0,1
272,273,2,4,1,9,5,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4,2,40,14,0,1
275,276,2,3,1,9,1,6,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1,1,42,13,1,0

In [80]:
for i in range(1, 13):
    print(f'Q2-{i}',collections.Counter(recognition[f'Q2-{i}']))

Q2-1 Counter({0.0: 28, 1.0: 4})
Q2-2 Counter({0.0: 30, 1.0: 2})
Q2-3 Counter({0.0: 31, 1.0: 1})
Q2-4 Counter({0.0: 32})
Q2-5 Counter({0.0: 25, 1.0: 7})
Q2-6 Counter({0.0: 31, 1.0: 1})
Q2-7 Counter({0.0: 31, 1.0: 1})
Q2-8 Counter({0.0: 27, 1.0: 5})
Q2-9 Counter({0.0: 32})
Q2-10 Counter({0.0: 29, 1.0: 3})
Q2-11 Counter({0.0: 31, 1.0: 1})
Q2-12 Counter({0.0: 31, 1.0: 1})

In [81]:
for i in range(1, 19):
    print(f'Q3-{i}',collections.Counter(recognition[f'Q3-{i}']))

Q3-1 Counter({0.0: 30, 1.0: 2})
Q3-2 Counter({0.0: 29, 1.0: 3})
Q3-3 Counter({0.0: 27, 1.0: 5})
Q3-4 Counter({0.0: 30, 1.0: 2})
Q3-5 Counter({0.0: 30, 1.0: 2})
Q3-6 Counter({0.0: 30, 1.0: 2})
Q3-7 Counter({0.0: 30, 1.0: 2})
Q3-8 Counter({0.0: 28, 1.0: 4})
Q3-9 Counter({0.0: 27, 1.0: 5})
Q3-10 Counter({0.0: 31, 1.0: 1})
Q3-11 Counter({0.0: 28, 1.0: 4})
Q3-12 Counter({0.0: 32})
Q3-13 Counter({0.0: 32})
Q3-14 Counter({0.0: 31, 1.0: 1})
Q3-15 Counter({0.0: 29, 1.0: 3})
Q3-16 Counter({0.0: 32})
Q3-17 Counter({0.0: 31, 1.0: 1})
Q3-18 Counter({0.0: 31, 1.0: 1})

In [82]:
for i in range(1, 19):
    print(f'Q5-{i}',collections.Counter(recognition[f'Q5-{i}']))

Q5-1 Counter({0.0: 30, 1.0: 2})
Q5-2 Counter({0.0: 29, 1.0: 3})
Q5-3 Counter({0.0: 26, 1.0: 6})
Q5-4 Counter({0.0: 25, 1.0: 7})
Q5-5 Counter({0.0: 31, 1.0: 1})
Q5-6 Counter({0.0: 28, 1.0: 4})
Q5-7 Counter({0.0: 30, 1.0: 2})
Q5-8 Counter({0.0: 32})
Q5-9 Counter({0.0: 28, 1.0: 4})
Q5-10 Counter({0.0: 31, 1.0: 1})
Q5-11 Counter({0.0: 23, 1.0: 9})
Q5-12 Counter({0.0: 31, 1.0: 1})
Q5-13 Counter({0.0: 31, 1.0: 1})
Q5-14 Counter({0.0: 32})
Q5-15 Counter({0.0: 30, 1.0: 2})
Q5-16 Counter({0.0: 31, 1.0: 1})
Q5-17 Counter({0.0: 32})
Q5-18 Counter({0.0: 30, 1.0: 2})

In [83]:
for i in range(1, 14):
    print(f'Q6-{i}',collections.Counter(recognition[f'Q6-{i}']))

Q6-1 Counter({0.0: 27, 1.0: 5})
Q6-2 Counter({0.0: 28, 1.0: 4})
Q6-3 Counter({0.0: 26, 1.0: 6})
Q6-4 Counter({0.0: 29, 1.0: 3})
Q6-5 Counter({0.0: 30, 1.0: 2})
Q6-6 Counter({0.0: 23, 1.0: 9})
Q6-7 Counter({0.0: 28, 1.0: 4})
Q6-8 Counter({0.0: 29, 1.0: 3})
Q6-9 Counter({0.0: 25, 1.0: 7})
Q6-10 Counter({0.0: 26, 1.0: 6})
Q6-11 Counter({0.0: 32})
Q6-12 Counter({0.0: 27, 1.0: 5})
Q6-13 Counter({0.0: 27, 1.0: 5})

In [84]:
for i in range(1, 8):
    print(f'Q7-{i}',collections.Counter(recognition[f'Q7-{i}']))

Q7-1 Counter({0.0: 27, 1.0: 5})
Q7-2 Counter({0.0: 20, 1.0: 12})
Q7-3 Counter({0.0: 25, 1.0: 7})
Q7-4 Counter({0.0: 30, 1.0: 2})
Q7-5 Counter({0.0: 26, 1.0: 6})
Q7-6 Counter({0.0: 32})
Q7-7 Counter({0.0: 23, 1.0: 9})

In [71]:
print(collections.Counter(recognition['Q9']))

Counter({0.0: 32})

In [85]:
for i in range(1, 10):
    print(f'Q11-{i}',collections.Counter(recognition[f'Q11-{i}']))

Q11-1 Counter({0.0: 26, 1.0: 6})
Q11-2 Counter({0.0: 27, 1.0: 5})
Q11-3 Counter({0.0: 27, 1.0: 5})
Q11-4 Counter({0.0: 29, 1.0: 3})
Q11-5 Counter({0.0: 23, 1.0: 9})
Q11-6 Counter({0.0: 26, 1.0: 6})
Q11-7 Counter({0.0: 24, 1.0: 8})
Q11-8 Counter({0.0: 32})
Q11-9 Counter({0.0: 32})

In [86]:
for i in range(1, 10):
    print(f'Q12-{i}',collections.Counter(recognition[f'Q12-{i}']))

Q12-1 Counter({0.0: 26, 1.0: 6})
Q12-2 Counter({0.0: 24, 1.0: 8})
Q12-3 Counter({0.0: 21, 1.0: 11})
Q12-4 Counter({0.0: 26, 1.0: 6})
Q12-5 Counter({0.0: 27, 1.0: 5})
Q12-6 Counter({0.0: 27, 1.0: 5})
Q12-7 Counter({0.0: 26, 1.0: 6})
Q12-8 Counter({0.0: 30, 1.0: 2})
Q12-9 Counter({0.0: 32})

In [87]:
for i in range(1, 13):
    print(f'Q13-{i}',collections.Counter(recognition[f'Q13-{i}']))

Q13-1 Counter({0.0: 29, 1.0: 3})
Q13-2 Counter({0.0: 20, 1.0: 12})
Q13-3 Counter({0.0: 30, 1.0: 2})
Q13-4 Counter({0.0: 29, 1.0: 3})
Q13-5 Counter({0.0: 30, 1.0: 2})
Q13-6 Counter({0.0: 25, 1.0: 7})
Q13-7 Counter({0.0: 30, 1.0: 2})
Q13-8 Counter({0.0: 25, 1.0: 7})
Q13-9 Counter({0.0: 29, 1.0: 3})
Q13-10 Counter({0.0: 27, 1.0: 5})
Q13-11 Counter({0.0: 31, 1.0: 1})
Q13-12 Counter({0.0: 28, 1.0: 4})

In [61]:
len(recognition)

32

In [62]:
#SC2 user
sc2_recognition_list = []
sc2_recognition= collections.Counter(recognition['SC2'])
for i in range(5):
    sc2_recognition_list.append((sc2_recognition[i+1])/len(recognition)*100)
    
# 表作成
df_sc2_recognition = pd.DataFrame(
    data = zip(sc2_all_list[1:], sc2_recognition_list[1:]),
    columns=["全体", "利用者"],
    index = ["乳児","未就学","小学生","中学生"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体とYohana認知者の就学状況比較（割合）")
df_sc2_recognition.style.pipe(set_min_max).pipe(set_format)

全体とYohana認知者の就学状況比較（割合）

In [64]:
#SC4 recognition 8~12
sc4_recognition_list = []
sc4_recognition = collections.Counter(recognition['SC4'])
for i in range(7):
    sc4_recognition_list.append((sc4_recognition[i+6])/len(recognition)*100)

#SC4 all
sc4_all_list = []
sc4_all= collections.Counter(survey_result['SC4'])
for i in range(7):
    sc4_all_list.append((sc4_all[i+6])/len(survey_result)*100)
    
# 表作成
df_sc4_recognition = pd.DataFrame(
    data = zip(sc4_all_list, sc4_recognition_list),
    columns=["全体", "利用者"],
    index = ["800万~","900万~","1000万~","1500万~","2000万~","2500万~","3000万以上"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者の世帯年収比較（割合）")
df_sc4_recognition.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者の世帯年収比較（割合）

In [65]:
#SC5 recognition 1~5
sc5_recognition_list = []
sc5_recognition= collections.Counter(recognition['SC5'])
for i in range(5):
    sc5_recognition_list.append((sc5_recognition[i+1])/len(recognition)*100)
    
# 表作成
df_sc5_recognition = pd.DataFrame(
    data = zip(sc5_all_list, sc5_recognition_list),
    columns=["全体", "利用者"],
    index = ["1:東23内","2:東23外","3:横浜","4:川崎","5:神その他"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体とYohana認知者の地域比較（割合）")
df_sc5_recognition.style.pipe(set_min_max).pipe(set_format)

全体とYohana認知者の地域比較（割合）

q3_Groupby1　認知と{忙しさ、家事代行利用頻度、歳、性別}

In [74]:
# q5の回答結果でGroupby
print(q5_con, q5_details)

q5_Groupby1 = survey_result[['Q5','Q1','Q2','AGE','male','female']].groupby('Q5').agg({'Q1': np.mean, 'Q2': np.mean, 'AGE': np.mean, 'male': sum, 'female': sum})

def set_min_max(style):
    return style.background_gradient()

def set_format(style):
    return style.format({'Q1': "{:.3f}", 'Q2': "{:.3f}", 'AGE': "{:.3f}", 'male': "{:.0f}", 'female': "{:.0f}"})

q5_Groupby1.style.pipe(set_min_max).pipe(set_format)

Q5.認知度 1:詳しく,2:少し,3:名前だけ,4:知らない

In [75]:
print(q1_con, q1_details)
print(q2_con, q2_details)

Q1.忙しさ 1:とても,2:やや,3:どちらとも,4:あまり,5:全く
Q2.家事代行利用度 1:月1回以上,2:2~3ヶ月に1回,3:４~６ヶ月に1回,4:７~１２ヶ月に1回,5:年１未満,6:利用✖️興味○,7:利用✖️興味✖️

q3_Groupby２　認知とyohana見た媒体

In [76]:
# q5の回答結果でGroupby
# q6 
print(q５_con, q５_details)

q5_Groupby2 = survey_result[['Q5','Q6-1','Q6-2','Q6-3','Q6-4','Q6-5','Q6-6','Q6-7','Q6-8','Q6-9','Q6-10','Q6-11','Q6-12','Q6-13','Q6-14','Q6-15','Q6-16','Q6-17','Q6-18']].groupby('Q5').agg({'Q6-1': sum, 'Q6-2': sum, 'Q6-3': sum, 'Q6-4': sum, 'Q6-5': sum, 'Q6-6': sum, 'Q6-7': sum, 'Q6-8': sum, 'Q6-9': sum, 'Q6-10': sum, 'Q6-11': sum, 'Q6-12': sum, 'Q6-13': sum, 'Q6-14': sum, 'Q6-15': sum, 'Q6-16': sum, 'Q6-17': sum, 'Q6-18': sum})

def set_min_max(style):
    return style.background_gradient(axis =1)

def set_format(style):
    return style.format({'Q6-1': "{:.0f}", 'Q6-2': "{:.0f}", 'Q6-3': "{:.0f}", 'Q6-4': "{:.0f}", 'Q6-5': "{:.0f}", 'Q6-6': "{:.0f}", 'Q6-7': "{:.0f}", 'Q6-8': "{:.0f}", 'Q6-9': "{:.0f}", 'Q6-10': "{:.0f}", 'Q6-11': "{:.0f}", 'Q6-12': "{:.0f}", 'Q6-13': "{:.0f}", 'Q6-14': "{:.0f}", 'Q6-15': "{:.0f}", 'Q6-16': "{:.0f}", 'Q6-17': "{:.0f}", 'Q6-18': "{:.0f}"})

#認知ある人のみ　q5=4の値が全て０だからいらない
q5_Groupby2[:3].style.pipe(set_min_max).pipe(set_format)

Q5.認知度 1:詳しく,2:少し,3:名前だけ,4:知らない

In [77]:
print(q6_con, q6_details)

Q6.Yohana見た媒体 1:テレビ（情報バラエティ）,2:テレビ（ニュース）,3:口コミ,4:　YouTube,5:LINE広告,6:インスタ,7:インフルエンサー,8:Facebook,9:Twitter,10:Linked in,11:ニュース記事,12:チラシ,13:イベント,14:電車/バス/駅の広告,15:街頭広告,16:マンションのサイネージ,17:その他,18:わからない

q3_Groupby3　認知とyohana知っていること

In [78]:
# q５の回答結果でGroupby
# q7 
print(q5_con, q5_details)

q5_Groupby3 = survey_result[['Q5','Q7-1','Q7-2','Q7-3','Q7-4','Q7-5','Q7-6','Q7-7','Q7-8','Q7-9','Q7-10','Q7-11','Q7-12','Q7-13']].groupby('Q5').agg({'Q7-1': sum, 'Q7-2': sum, 'Q7-3': sum, 'Q7-4': sum, 'Q7-5': sum, 'Q7-6': sum, 'Q7-7': sum, 'Q7-8': sum, 'Q7-9': sum, 'Q7-10': sum, 'Q7-11': sum, 'Q7-12': sum, 'Q7-13': sum})

def set_min_max(style):
    return style.background_gradient(axis =1)

def set_format(style):
    return style.format({'Q7-1': "{:.0f}", 'Q7-2': "{:.0f}", 'Q7-3': "{:.0f}", 'Q7-4': "{:.0f}", 'Q7-5': "{:.0f}", 'Q7-6': "{:.0f}", 'Q7-7': "{:.0f}", 'Q7-8': "{:.0f}", 'Q7-9': "{:.0f}", 'Q7-10': "{:.0f}", 'Q7-11': "{:.0f}", 'Q7-12': "{:.0f}", 'Q7-13': "{:.0f}"})

#認知ある人のみ　q5=4の値が全て０だからいらない
q5_Groupby3[:3].style.pipe(set_min_max).pipe(set_format)

Q5.認知度 1:詳しく,2:少し,3:名前だけ,4:知らない

In [79]:
print(q7_con, q7_details)

Q7.Yohana知っていること 1:家事代行,2:育児,3:コンシェルジュ,4:介護,5:高齢者向け,6:子育て世代向け,7:単身者向け,8:健康管理,9:くらしのタスク依頼,10:仕事のタスク依頼,11:価格18000円,12:神奈川から開始,13:その他

q3_Groupby4　認知とyohana具体的行動

In [80]:
# q5の回答結果でGroupby
# q8 
print(q5_con, q5_details)

q5_Groupby4 = survey_result[['Q5','Q8-1','Q8-2','Q8-3','Q8-4','Q8-5','Q8-6','Q8-7']].groupby('Q5').agg({'Q8-1': sum, 'Q8-2': sum, 'Q8-3': sum, 'Q8-4': sum, 'Q8-5': sum, 'Q8-6': sum, 'Q8-7': sum})

def set_min_max(style):
    return style.background_gradient(axis =1)

def set_format(style):
    return style.format({'Q8-1': "{:.0f}", 'Q8-2': "{:.0f}", 'Q8-3': "{:.0f}", 'Q8-4': "{:.0f}", 'Q8-5': "{:.0f}", 'Q8-6': "{:.0f}", 'Q8-7': "{:.0f}"})

#認知ある人のみ　q3=4の値が全て０だからいらない
q5_Groupby4[:3].style.pipe(set_min_max).pipe(set_format)

Q5.認知度 1:詳しく,2:少し,3:名前だけ,4:知らない

In [81]:
print(q8_con, q8_details)

Q8.Yohana具体的行動 1:Web検索,2:Web見た,3:SNS見た,4:ウェイトリストに登録,5:友人/知人/家族から話を聞いた,6:その他,7:何もしていない

q3_Groupby5　認知と利用意向

In [82]:
# q5の回答結果でGroupby
# q9
print(q5_con, q5_details)

q5_Groupby5 = survey_result[['Q5','Q9']].groupby('Q5').agg({'Q9': np.mean})

def set_min_max(style):
    return style.background_gradient(axis =0)

def set_format(style):
    return style.format({'Q9': "{:.2f}"})

#認知ある人のみ　q5=4の値が全て０だからいらない
q5_Groupby5[:3].style.pipe(set_min_max).pipe(set_format)

Q5.認知度 1:詳しく,2:少し,3:名前だけ,4:知らない

In [83]:
print(q9_con, q9_details)

Q9.利用意向 1:とても,2:やや,3:どちらとも,4:あまり,5:全く

In [ ]:
###############################################################################

# Yohanaを知らないが興味はあるという人は日々忙しいという感覚を持っている
# 興味がある人ほど家事代行サービスの利用頻度が多い
# 性別、年齢はあまり関係なさそう

###############################################################################

## 【分析】興味ある人の分析

In [88]:
# Q5=1〜3だけのindexから各質問の答え
kyoumi = survey_result[(survey_result['Q9'] == 1) | (survey_result['Q9'] == 2) ]
kyoumi

,USER_ID,SC1,SC2,SC3,SC4,SC5,Q1,Q2-1,Q2-2,Q2-3,...,Q13-10,Q13-11,Q13-12,Q13-13,SEG,SEX,AGE,CHIIKI,male,female
4,5,2,3,1,8,1,5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,43,13,1,0
9,10,2,5,1,8,1,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,49,13,1,0
10,11,2,3,1,11,1,6,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1,1,36,13,1,0
11,12,2,4,1,8,2,7,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,48,13,1,0
12,13,2,5,1,8,2,1,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1,1,60,13,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,291,2,2,1,8,2,6,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,34,13,0,1
292,293,2,4,1,8,3,6,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,4,2,41,14,0,1
293,294,2,2,1,8,1,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,40,13,1,0
298,299,2,2,1,9,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2,2,33,13,0,1
299,300,2,2,1,9,2,4,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1,1,39,13,1,0

In [89]:
len(kyoumi)

82

In [91]:
for i in range(1, 13):
    print(f'Q13-{i}',collections.Counter(kyoumi[f'Q13-{i}']))

Q13-1 Counter({0.0: 55, 1.0: 27})
Q13-2 Counter({0.0: 46, 1.0: 36})
Q13-3 Counter({0.0: 66, 1.0: 16})
Q13-4 Counter({0.0: 72, 1.0: 10})
Q13-5 Counter({0.0: 69, 1.0: 13})
Q13-6 Counter({0.0: 70, 1.0: 12})
Q13-7 Counter({0.0: 75, 1.0: 7})
Q13-8 Counter({0.0: 57, 1.0: 25})
Q13-9 Counter({0.0: 77, 1.0: 5})
Q13-10 Counter({0.0: 75, 1.0: 7})
Q13-11 Counter({0.0: 76, 1.0: 6})
Q13-12 Counter({0.0: 78, 1.0: 4})

## 【分析】Q11, Q12 ABテスト

家事代行利用者　ABテスト

In [64]:
# Q2=1〜4だけ
user = survey_result[(survey_result['Q1'] == 1) | (survey_result['Q1'] == 2) | (survey_result['Q1'] == 3) | (survey_result['Q1'] == 4)]
len(user)

42

In [67]:
collections.Counter(user['Q11'])

Counter({1.0: 10, 0.0: 20, 2.0: 12})

In [68]:
collections.Counter(survey_result['Q11'])

Counter({0.0: 203, 1.0: 52, 2.0: 45})

In [78]:
collections.Counter(user['Q12.1'])

Counter({2.0: 6, 0.0: 32, 1.0: 3, 4.0: 1})

In [79]:
collections.Counter(user['Q12.2'])

Counter({3.0: 2, 0.0: 32, 2.0: 5, 1.0: 3})

In [80]:
collections.Counter(user['Q12.3'])

Counter({3.0: 2, 0.0: 32, 2.0: 6, 1.0: 2})

In [81]:
collections.Counter(user['Q12.4'])

Counter({0.0: 30, 2.0: 7, 1.0: 3, 3.0: 1, 4.0: 1})

In [82]:
collections.Counter(user['Q12.5'])

Counter({0.0: 30, 1.0: 4, 3.0: 2, 2.0: 3, 5.0: 1, 4.0: 2})

In [83]:
collections.Counter(user['Q12.6'])

Counter({0.0: 30, 2.0: 6, 1.0: 3, 4.0: 2, 3.0: 1})

In [70]:
# 1か２
#SC2 user
sc2_user_list = []
sc2_user= collections.Counter(user['Q11'])
for i in range(3):
    sc2_user_list.append((sc2_user[i+0])/22*100)

#SC2 all
sc2_all_list = []
sc2_all= collections.Counter(survey_result['Q11'])
for i in range(3):
    sc2_all_list.append((sc2_all[i+0])/97*100)
    
# 表作成
df_sc2_user = pd.DataFrame(
    data = zip(sc2_all_list[1:], sc2_user_list[1:]),
    columns=["全体", "利用者"],
    index = ["A","B"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と家事代行利用者のAB比較（割合）")
df_sc2_user.style.pipe(set_min_max).pipe(set_format)

全体と家事代行利用者のAB比較（割合）

認知者

In [85]:
# Q5=1〜3だけのindexから各質問の答え
recognition  = survey_result[(survey_result['Q4'] == 1) | (survey_result['Q4'] == 2) | (survey_result['Q4'] == 3)]
len(recognition)

37

In [87]:
collections.Counter(recognition['Q11'])

Counter({1.0: 7, 0.0: 18, 2.0: 12})

In [90]:
collections.Counter(recognition['Q12.1'])

Counter({2.0: 4, 0.0: 30, 1.0: 2, 3.0: 1})

In [91]:
collections.Counter(recognition['Q12.2'])

Counter({2.0: 5, 0.0: 30, 1.0: 2})

In [92]:
collections.Counter(recognition['Q12.3'])

Counter({2.0: 5, 0.0: 30, 1.0: 2})

In [93]:
collections.Counter(recognition['Q12.4'])

Counter({0.0: 25, 2.0: 7, 1.0: 3, 3.0: 1, 4.0: 1})

In [94]:
collections.Counter(recognition['Q12.5'])

Counter({0.0: 25, 2.0: 4, 1.0: 3, 3.0: 3, 5.0: 1, 4.0: 1})

In [95]:
collections.Counter(recognition['Q12.6'])

Counter({0.0: 25, 1.0: 4, 2.0: 4, 3.0: 2, 4.0: 2})

In [89]:
# 1か２
#SC2 user
sc2_recognition_list = []
sc2_recognition= collections.Counter(recognition['Q11'])
for i in range(3):
    sc2_recognition_list.append((sc2_recognition[i+0])/19*100)

#SC2 all
sc2_all_list = []
sc2_all= collections.Counter(survey_result['Q11'])
for i in range(3):
    sc2_all_list.append((sc2_all[i+0])/97*100)
    
# 表作成
df_sc2_recognition = pd.DataFrame(
    data = zip(sc2_all_list[1:], sc2_recognition_list[1:]),
    columns=["全体", "認知者"],
    index = ["A","B"]
)

def set_min_max(style):
    return style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

def set_format(style):
    return style.format("{:.3f}")

print("全体と認知者のAB比較（割合）")
df_sc2_recognition.style.pipe(set_min_max).pipe(set_format)

全体と認知者のAB比較（割合）

## 【分析】Q13.初めに頼んでみたいこと

In [77]:
#全体
for i in range(1, 14):
    print(f'Q13-{i}',collections.Counter(survey_result[f'Q13-{i}']))

Q13-1 Counter({0.0: 270, 1.0: 30})
Q13-2 Counter({0.0: 252, 1.0: 48})
Q13-3 Counter({0.0: 282, 1.0: 18})
Q13-4 Counter({0.0: 287, 1.0: 13})
Q13-5 Counter({0.0: 285, 1.0: 15})
Q13-6 Counter({0.0: 281, 1.0: 19})
Q13-7 Counter({0.0: 291, 1.0: 9})
Q13-8 Counter({0.0: 268, 1.0: 32})
Q13-9 Counter({0.0: 292, 1.0: 8})
Q13-10 Counter({0.0: 288, 1.0: 12})
Q13-11 Counter({0.0: 293, 1.0: 7})
Q13-12 Counter({0.0: 292, 1.0: 8})
Q13-13 Counter({0.0: 300})

In [75]:
user1 = survey_result[(survey_result['Q9'] == 1) | (survey_result['Q9'] == 2)]
len(user1)

82

In [76]:
user2 = survey_result[(survey_result['Q10'] == 1) | (survey_result['Q10'] == 2)]
len(user2)

KeyError: 'Q10'

In [ ]:
## 母数140

In [31]:
#12月追加
#母数 Yohana認知and利用意向（Q9=1〜2） yohana認知していない+興味（Q10=1~2）
q15_contents = "Q15.あなたがYohanaサービスを使い始める場合、まず初めに頼んでみたいと思うことはなんですか。"
q15_con = "Q15.初めに頼んでみたいこと"
q15_details = "1.「食」周り 例：1週間の食事の献立,2.教育 例：習い事の調査,3.イベントや買い物 例：お出かけ先提案,4.特別なイベント 例：誕生会の企画,5.新生活の準備 例：転勤・引っ越しの手配,6.ちょっとした調べもの 例：写真のアルバム印刷,7.定期的なメンテナンス 例：エアコンクリーニング業者の比較と手配,8.この中にはない"

print(collections.Counter(survey_result['Q15-1']))
print(collections.Counter(survey_result['Q15-2']))
print(collections.Counter(survey_result['Q15-3']))
print(collections.Counter(survey_result['Q15-4']))
print(collections.Counter(survey_result['Q15-5']))
print(collections.Counter(survey_result['Q15-6']))
print(collections.Counter(survey_result['Q15-7']))
print(collections.Counter(survey_result['Q15-8']))

Counter({0.0: 356, 1.0: 44})
Counter({0.0: 363, 1.0: 37})
Counter({0.0: 383, 1.0: 17})
Counter({0.0: 389, 1.0: 11})
Counter({0.0: 372, 1.0: 28})
Counter({0.0: 376, 1.0: 24})
Counter({0.0: 333, 1.0: 67})
Counter({0.0: 396, 1.0: 4})

In [ ]:
## 母数140

## 【分析】Youtube広告見た人

In [84]:
print(q6_contents)

Q6.「Yohana」もしくは「Yohanaメンバーシップ」について、あなたが見たり聞いたりしたことがあるものはなんですか。

In [85]:
last_youtube  = last_survey_result[(last_survey_result['Q4-4'] == 1)]
last_youtube

,USER_ID,SC1,SC2,SC3,SC4,SC5,Q1,Q2,Q3,Q4-1,...,Q12-8,Q12-9,Q12-10,Q12-11,Q12-12,Q12-13,SEG,SEX,AGE,CHIIKI
39,40,2,3,1,8,2,2,1,1,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1,1,42,13
173,174,2,5,1,8,3,3,6,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3,1,52,14
203,204,2,4,1,11,1,2,1,2,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1,1,57,13
227,228,2,4,1,9,1,2,6,2,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1,1,47,13
238,239,2,2,1,9,1,1,1,2,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,2,2,37,13
307,308,2,4,1,8,3,2,6,2,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,3,1,45,14

In [86]:
youtube  = recognition[(recognition['Q6-4'] == 1)]
youtube

,USER_ID,SC1,SC2,SC3,SC4,SC5,Q1,Q2,Q3-1,Q3-2,...,Q15-5,Q15-6,Q15-7,Q15-8,SEG,SEX,AGE,CHIIKI,male,female
20,21,2,5,1,9,1,1,1,1.0,0.0,...,1.0,0.0,0.0,0.0,2,2,49,13,0,1
42,43,2,4,1,9,1,1,3,1.0,0.0,...,1.0,0.0,0.0,0.0,2,2,49,13,0,1
54,55,2,5,1,8,1,1,1,1.0,1.0,...,0.0,0.0,1.0,0.0,1,1,62,13,1,0
166,167,2,3,1,8,1,1,2,0.0,0.0,...,1.0,0.0,0.0,0.0,1,1,42,13,1,0
169,170,2,3,1,8,1,1,1,1.0,0.0,...,0.0,0.0,0.0,0.0,1,1,36,13,1,0
188,189,2,3,1,9,1,2,6,NaN,NaN,...,0.0,0.0,0.0,0.0,2,2,36,13,0,1
308,309,2,4,1,8,1,3,7,NaN,NaN,...,NaN,NaN,NaN,NaN,1,1,38,13,1,0

In [90]:
youtube['Q9']

20     1.0
42     2.0
54     2.0
166    2.0
169    1.0
188    1.0
308    4.0
Name: Q9, dtype: float64

In [91]:
q9_details

'1:とても,2:やや,3:どちらとも,4:あまり,5:全く'

In [181]:
sc5_details

'1:東京23内,2:東京23外,3:横浜,4:川崎,5:神その他'

In [21]:
q２_details

'1:月1回以上,2:2~3ヶ月に1回,3:４~６ヶ月に1回,4:７~１２ヶ月に1回,5:年１未満,6:利用✖️興味○,7:利用✖️興味✖️'

In [183]:
# q10前回比較
# 前回は認知度の質問はq10
# 前回と今回の数カウント　
import collections

q10_list = []
last_q10_list = []

q10_c = collections.Counter(survey_result['Q10'])
last_q10_c = collections.Counter(last_survey_result['Q10'])

for i in range(5):
    q10_list.append(q10_c[i+1])
    last_q10_list.append(last_q10_c[i+1])

# 表作成
df_q10 = pd.DataFrame(
    data = zip(last_q10_list, q10_list),
    columns=["前回", "今回"],
    index = ['とても', 'やや', 'どちらとも', 'あまり', '全く']
)


print("表１：認知度比較（前回と今回）")
df_q10.style.background_gradient(cmap='Reds', low=.5, high=2, axis =1)

表１：認知度比較（前回と今回）

## 【補足】スピアマンの順位相関係数算出方法

In [ ]:
# データの読み込み
# survey_result

利用頻度とYohana認知度の相関

In [ ]:
from scipy.stats import spearmanr

In [ ]:
#　q2とq5の相関
correlation2_5, pvalue2_5 = spearmanr(q2, q5)
print(correlation2_5) #11月　0.232887

# スライドには小数点3桁まで
print('{:.3f}'.format(correlation2_5))

In [ ]:
###############################################################################

# q2とq3の相関　0.233

###############################################################################

利用頻度とYohana利用意向

In [ ]:
#q9の欠損値を抜く
q9 = q9_non.dropna()

#q9の欠損値なしのインデックスのq2のデータを取得
q2_q9 = q2[q9.index]

In [ ]:
#　q2とq9の相関
# 数を揃えてから(q2_q9, q9)

correlation2_9, pvalue2_9 = spearmanr(q2_q9, q9)
print(correlation2_9) #11月　0.50182

# スライドには小数点3桁まで
print('{:.3f}'.format(correlation2_9))

In [ ]:
###############################################################################

# q2とq7の相関　0.502

###############################################################################

In [ ]:
##　何か他の質問同士の相関調べる場合
## 数字を変更する
## 欠損値ある場合は数揃えてから

#correlation2_7, pvalue2_7 = spearmanr(q2, q7)
#print(correlation2_7) 

## スライドには小数点3桁まで
#print('{:.3f}'.format(correlation2_7))

In [146]:
# Q15=1〜4だけ
kanri = survey_result[(survey_result['Q15'] == 1) | (survey_result['Q15'] == 2) | (survey_result['Q15'] == 3) | (survey_result['Q15'] == 4)| (survey_result['Q15'] == 5)| (survey_result['Q15'] == 6)| (survey_result['Q15'] == 7)| (survey_result['Q15'] == 12)| (survey_result['Q15'] == 13)| (survey_result['Q15'] == 14)| (survey_result['Q15'] == 15)| (survey_result['Q15'] == 16)| (survey_result['Q15'] == 17)| (survey_result['Q15'] == 18)| (survey_result['Q15'] == 19)| (survey_result['Q15'] == 20)| (survey_result['Q15'] == 21)| (survey_result['Q15'] == 23)| (survey_result['Q15'] == 24)| (survey_result['Q15'] == 25)| (survey_result['Q15'] == 29)| (survey_result['Q15'] == 30)| (survey_result['Q15'] == 31)| (survey_result['Q15'] == 32)| (survey_result['Q15'] == 33)| (survey_result['Q15'] == 34)| (survey_result['Q15'] == 35)| (survey_result['Q15'] == 36)| (survey_result['Q15'] == 41)| (survey_result['Q15'] == 42)| (survey_result['Q15'] == 43)| (survey_result['Q15'] == 44)]
non_kanri = survey_result[(survey_result['Q15'] == 8) | (survey_result['Q15'] == 9) | (survey_result['Q15'] == 10) | (survey_result['Q15'] == 11)| (survey_result['Q15'] == 22)| (survey_result['Q15'] == 26)| (survey_result['Q15'] == 27)| (survey_result['Q15'] == 28)| (survey_result['Q15'] == 37)| (survey_result['Q15'] == 38)| (survey_result['Q15'] == 39)| (survey_result['Q15'] == 40)| (survey_result['Q15'] == 45)| (survey_result['Q15'] == 46)| (survey_result['Q15'] == 47)| (survey_result['Q15'] == 48)]

In [147]:
len(kanri)

59

In [148]:
len(non_kanri)

183

In [ ]:
1,2,3,4,5,6,7,12,13,14,15,16,17,18,19,20,21,23,24,2529,30,31,32,33,34,35,36,41,42,43,44
8,9,10,11,22,26,27,28,37,38,39,40,45,46,47,48

In [149]:
print(collections.Counter(kanri['Q14']))

Counter({1: 12, 7: 12, 4: 7, 5: 7, 9: 5, 3: 5, 11: 3, 2: 3, 10: 2, 6: 2, 8: 1})

In [150]:
print(collections.Counter(non_kanri['Q14']))

Counter({1: 34, 7: 23, 10: 23, 11: 21, 4: 21, 9: 18, 5: 13, 3: 12, 2: 8, 6: 7, 8: 3})

In [151]:
# 管理職　家事代行
kanri_user = kanri[(kanri['Q1'] == 1) | (kanri['Q1'] == 2) | (kanri['Q1'] == 3) | (kanri['Q1'] == 4)]
len(kanri_user)

10

In [152]:
print(collections.Counter(kanri_user['Q14']))

Counter({5: 4, 3: 2, 4: 1, 10: 1, 1: 1, 7: 1})

In [155]:
print(collections.Counter(kanri_user['Q15']))

Counter({7: 3, 1: 2, 6: 2, 36: 1, 2: 1, 21: 1})

In [153]:
# 管理職以外　家事代行
non_kanri_user = non_kanri[(non_kanri['Q1'] == 1) | (non_kanri['Q1'] == 2) | (non_kanri['Q1'] == 3) | (non_kanri['Q1'] == 4)]
len(non_kanri_user)

18

In [154]:
print(collections.Counter(non_kanri_user['Q14']))

Counter({1: 5, 3: 3, 4: 3, 7: 2, 11: 2, 10: 2, 6: 1})

In [156]:
print(collections.Counter(non_kanri_user['Q15']))

Counter({8: 7, 10: 6, 9: 2, 37: 1, 26: 1, 11: 1})

In [157]:
# 管理職　認知
kanri_nin = kanri[(kanri['Q4'] == 1) | (kanri['Q4'] == 2) | (kanri['Q4'] == 3)]
len(kanri_nin)

9

In [158]:
# 管理職　認知
non_kanri_nin = non_kanri[(non_kanri['Q4'] == 1) | (non_kanri['Q4'] == 2) | (non_kanri['Q4'] == 3)]
len(non_kanri_nin)

13

In [159]:
print(collections.Counter(kanri_nin['Q14']))

Counter({5: 4, 1: 2, 4: 1, 3: 1, 9: 1})

In [160]:
print(collections.Counter(kanri_nin['Q15']))

Counter({7: 4, 6: 3, 2: 1, 1: 1})

In [161]:
print(collections.Counter(non_kanri_nin['Q14']))

Counter({11: 3, 10: 3, 1: 2, 4: 2, 9: 2, 6: 1})

In [162]:
print(collections.Counter(non_kanri_nin['Q15']))

Counter({10: 5, 8: 2, 9: 2, 26: 1, 38: 1, 39: 1, 11: 1})

In [163]:
# 管理職　興味
kanri_kyo = kanri[(kanri['Q9'] == 1) | (kanri['Q9'] == 2)]
len(kanri_kyo)

13

In [164]:
# 管理職　興味
non_kanri_kyo = non_kanri[(non_kanri['Q9'] == 1) | (non_kanri['Q9'] == 2)]
len(non_kanri_kyo)

47

In [165]:
print(collections.Counter(kanri_kyo['Q14']))

Counter({7: 3, 1: 3, 4: 3, 11: 2, 8: 1, 5: 1})

In [166]:
print(collections.Counter(kanri_kyo['Q15']))

Counter({6: 6, 7: 3, 4: 3, 21: 1})

In [167]:
print(collections.Counter(non_kanri_kyo['Q14']))

Counter({4: 9, 7: 9, 1: 6, 11: 5, 9: 5, 10: 4, 5: 4, 3: 3, 2: 1, 6: 1})

In [168]:
print(collections.Counter(non_kanri_kyo['Q15']))

Counter({10: 20, 8: 10, 9: 7, 11: 5, 46: 1, 45: 1, 22: 1, 37: 1, 47: 1})